h2 {
    color: darkslategray;
    text-align: center;
}

#signup {
    width: 500px;
    margin: 40px auto 50px auto;
    padding: 0px 25px;
    
    border-radius: 10px;
    border: 1px solid gray;
}

#signup .input-field {
    width: 100%;
    height: 50px;
    text-align: left;
}

#signup .input-field input {
    border: 1px solid gray;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}

button{
    display: inline-block;
    width: 150px;
    height: 25px;
    margin: 10px 10px 10px 10px;
    float: right;
    background-color: lightgray;
    border-radius: 2px;
    border: 1px solid gray;
    color: white;
}

button[type="submit"]{
    background-color: deepskyblue;
}
