* {
  margin: 0;
  padding: 0;
  border: none;
}

/* HEADER */

.title {
  width: 50%;
  padding-left: 2rem;
  float: left;
}

.navbar {
  padding: 0;
  margin: 0;
  width: 50%;
}

.navbar ul {
  width: 100%;
  padding-right: 2rem;
}

.navbar li {
  list-style: none;
  width: auto;
  float: right;
  display: block;
  padding: 1rem;
  cursor: pointer;
}

.navbar li:hover {
  background-color: hsla(136, 0%, 12%, 15%);
}

/* BODY */
html {
  height: 100%;
}

.body {
  background-image: url("./images/background.jpg");
  background-size: cover;
  position: absolute;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.dateOfWeek {
  margin-left: 2rem;
  font-size: 1.25rem;
  color: hsla(207, 0%, 93%, 50%);
}

.daycard {
  background-color: hsla(136, 0%, 12%, 25%);
  color: white;
  border-radius: 0.25rem;
  margin: 0 1rem;
  width: 100%;
  margin-bottom: 2rem;
  min-height: 5rem;
}

.daycard h3 {
  padding-left: 1rem;
}

.tasks-container {
  padding-right: 0 !important;
  width: 100%;
}

.taskInput {
  width: 100%;
  border: none;
  border-radius: .25rem;
  padding: .2rem 0 .2rem .5rem;
  margin-bottom: .3rem;
}

.taskListItem {
  width: 100%;
  list-style: none;
}

.delete-container{
  width: 100%;
  opacity: 80%;
  padding: 0 .5rem;
  visibility: hidden; /* toggled on mouseover */
}

.delete-container img:hover {
  background-color: hsla(0, 0%, 10%, 30%);
  cursor: pointer;
}

.delete-container img {
  /*width: 100%;*/
  margin: .6rem .5rem .6rem 0rem;
  height: 1rem;
}

.plus-row {
  margin-bottom: 1rem;
}

.plus-container {
  width: 3rem;
  display: inline-block;
  visibility: hidden;
  margin: auto;
}

.plus-container:hover {
  background-color: hsla(0, 0%, 10%, 30%);
  border-radius: 50%;
  cursor: pointer;
}

.plus-btn {
  display: block;
}


#saveButton {
  width: 100%;
  height: 2rem;
  border-radius: .25rem;
}