#aboutOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
}

#aboutSection {
  width: 60%;
  position: relative;
  top: 20%;
  margin: auto;
  padding: 3rem;
  background-color: white;
}