.signup-page, .signin-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
}

.signup-box {
  position: relative;
  top: 20%;
  margin: auto;
  width: 50%;
}

.success-block {
  padding: 1rem;
}

.auth-text {
  width: 80%;
  padding: .5rem;
  margin-bottom: 1.5rem;
}

.signup-text {
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.submit {
  padding: .5rem 1rem;
  margin: .5rem 1rem;
  border-radius: .25rem;
  font-family: Arial, Helvetica, sans-serif;
}