hr.clear-break {
    border: none;
}

#overlay {
    display: none;
}

#signinbox{
    padding: 20px;
    background-color: white;
    display: block;
    width: 300px;
    height: 175px;
    border: 1px solid #000000;
    position: relative;
    margin: auto;
    top: 30%;
    z-index: 100;
}

#signinbox h2 {
    margin-bottom: 10px;
}

#overlay {
    background-color: rgba(0, 0, 0, 70%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.popup {
    margin: 10px 10px 10px 0px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid rgb(64, 64, 64);
}

#signin-button {
    background-color: rgb(25, 121, 255);
    color: white;
    border: none;
}

#error-message {
    color: rgb(255, 84, 84);
    font-weight: 400;
    display: none;
}

#cancel-button {
    border: none;
}

#signin-col1{
    /*display: inline-block;*/
    width: 25%;
    float: left;
    position: relative;
    top: 7px;

}

#signin-col2{
    display: inline-block;
    width: 75%;
}

#username, #password , #usernameinput, #passwordinput  {
    font-size: .9em;
    padding: 0px;
    margin: 10px 0px 10px 0px;
    border-radius: 2px;
    display: inline-block;
    height: 30px;
}

#usernameinput, #passwordinput {
    border: 1px solid rgb(116, 116, 116);
    padding: 5px;
    margin-top: 10px;
    width: 100%;
}