body {
    font-family: Arial;
    margin: 0;
}

h1 {
    font-family: Arial;
    color: gray;
    padding: 0px 10px;
    margin: 10px;
}

h3, a{
    color: darkslategray;
    font-size: 24px;
    margin: 10px;
}

p {
    color: dimgray;
}

/* Navigation list */
.navbar {
    background-color: coral;
    border: 1px solid grey;
    display: block;
    width: 100%;
}

nav ul {
    display: inline-block;
    margin: 0;
}

nav li {
    float: left;
    list-style: none;
    width: 100px;
    padding: 10px 10px 5px 10px;
    margin: 5px;
    color: white;
    text-align: center;
}

nav li a {
    color: white;
    font-size: 1em;
    text-decoration: none;
}

nav li a:visited {
    color: white;
    text-decoration: none;
}

nav li:hover {
    color: black;
}

/* Clear inline block */
#clr {
    clear: both;
    display: block;
}


#image-sec {
    margin: 0px;
    padding: 75px;
    background-image: url("../images/mountains.PNG");
    background-repeat: no-repeat;
    background-position: center;
}

#image-overlay-font {
    font-family: Verdana;
    font-weight: 100;
    font-size: 40px;
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
}

.paragraph {
    width: 60%;
    margin: auto;
    color: white;
    padding-top: 50px;
}

footer.navbar {
    font-size: 14px;
    background-color: white;
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
}

footer.navbar li{
    list-style: none;
    display: inline-block;
    width: 100px;
    border: none !important;
}

#copyright {
    float: right;
    padding-right: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 1200px;
    grid-template-rows: 1fr;
    grid-gap: 25px;
    margin: 50px;
    height: 300px;
}

.grid-item {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: hsl(238, 26%, 96%);
    padding: 20px;
}

/* Sign up */
#sign-up {
    margin: auto auto 75px auto;
    padding: auto;
    width: 400px;
    display: block;
}

.big-button {
    background-color: cadetblue;
    color: white;
    outline: 2px solid gray;
}

.big-button:hover{
    color: black;
    outline: 2px solid black;
}

.small-button {
    background-color: lightgray;
}

.small-button:hover{
    outline: 2px solid black;
}

#sign-up h3, #sign-up h4 {
    padding: 10px;
    margin: 10px;
    text-align: center;
}


#sign-up a {
    text-align: center;
    padding: 10px;
    display: block;
}

/**********************************/

